<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/input.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Book Haven</title>
</head>

<body class="bg-black text-white m-12 text-2xl">
    <div class="flex justify-between mb-10 items-center">
        <p class="text-4xl">BookHaven</p>
        <form action="/search" method="post">
            <input type="text" name="search" class="pl-4 search text-black w-96 rounded-full" placeholder="enter the name of the book">
            <button type="submit" class=""><img src="icons/search.png" alt="$$$" ></button>
        </form>
        <a href="/">Users</a>
    </div>

    