<%- include("partials/header.ejs") %>

    <div class="flex flex-col space-y-10 lg:flex-row lg:space-x-5">
        <div class="flex space-x-7 lg:space-y-5 lg:flex-col lg:space-x-0 lg:w-2/6 lg:my-10">
            <a href="" class= "hover:text-gray-400 ">Add user</a>
            <!-- <button>Add user</button> -->
            <a href="">users</a>
            <a href="">users</a>
            <a href="">users</a>
        </div>
        <div class="grid grid-cols-1 gap-10 md:grid-cols-2 lg:grid-cols-4 gap-y-15">


            <div class="books-cart flex flex-col space-y-6">
                <img src="https://ia800607.us.archive.org/view_archive.php?archive=/22/items/olcovers24/olcovers24-L.zip&file=240727-L.jpg"
                    alt="###">
                <div class="flex justify-center space-x-2">
                    <p class="">book name</p>
                    <a href=""><img src="public/icons/icons8-delete-30.png" alt=""></a>
                </div>
            </div>


        </div>
    </div>
</body>

</html>